@model MvcLaptop.Models.User
@{
    ViewData["Title"] = "Login";
}
<div class="login-container">
    <h1>Đăng nhập</h1>
    <form asp-action="Login">
         <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="control-label">Tên đăng nhập</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label">Mật khẩu</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
        </div>
    </form>
    <div class="register-link text-center">
        <p>Bạn chưa có tài khoản? <a asp-controller="Account" asp-action="Register">Đăng ký ngay</a></p>
        
    </div>
</div>