@model MvcLaptop.Models.Category

<h2>Xóa hãng sản phẩm</h2>

<div>
    <h4>Có chắc muốn xóa hãng sản phẩm này chứ ?</h4>
    <div>
        <strong>Tên hãng: </strong> @Model.Name_Category
    </div>
    <div>
        <strong>Giới thiệu: </strong> @Model.Description
    </div>
    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.CategoryId" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>
