@model MvcLaptop.Models.LaptopRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Laptop</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.SuccessMessage
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="example" asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="MainImage">Upload Main Image</label>
                <input type="file" asp-validation-for="ImageUrl" name="MainImage" id="MainImage" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        var editor = new FroalaEditor('#example');
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        Vui lòng kiểm tra lại các trường thông tin.
    </div>
}