@model IEnumerable<string>

<ul class="genre-menu-list">
    @foreach (var genre in Model)
    {
        <li class="genre-menu-item">
            <a class="genre-menu-link" asp-controller="Laptops" asp-action="Index" asp-route-genre="@genre">
                @genre
            </a>
        </li>
    }
</ul>