@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Bạn cần xác thực tài khoản bằng Email đã đăng ký. <a href="https://mail.google.com">Mở Gmail</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

